*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(202, 86%, 94%);
  color: hsl(202, 55%, 16%);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 48rem) {
  body {
    display: flex;
    align-items: center;
  }
}

img {
  max-width: 100%;
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 48rem) {
  .container {
    max-width: 63rem;
    margin: 0 auto;
  }
  .app {
    display: flex;
    border-radius: 1.375rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 1.5rem 3rem rgba(19, 48, 64, 0.12);
  }
}
.calculator {
  padding: 2rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  flex: 50%;
}
@media (min-width: 48rem) {
  .calculator {
    padding: 2.5rem;
    border-radius: 1.375rem 0 0 1.375rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.75rem;
}
.header .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
}
@media (min-width: 48rem) {
  .header {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2.625rem;
  }
}

.result-display {
  flex: 50%;
  background-color: hsl(202, 55%, 16%);
}
@media (min-width: 48rem) {
  .result-display {
    border-radius: 0 1.375rem 1.375rem 4.875rem;
  }
}
.result-display .empty-result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
@media (min-width: 48rem) {
  .result-display .empty-result-display {
    justify-content: center;
    height: 100%;
  }
}
.result-display .empty-result-display .result-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.result-display .empty-result-display .result-description {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(203, 41%, 72%);
  text-align: center;
  line-height: 1.5;
}
.result-display .outputted-result-display {
  padding: 2rem 1.5rem;
}
@media (min-width: 48rem) {
  .result-display .outputted-result-display {
    padding: 2.5rem;
  }
}
.result-display .outputted-result-display .result-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}
.result-display .outputted-result-display .result-description {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(203, 41%, 72%);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .result-display .outputted-result-display .result-description {
    margin-bottom: 2.5rem;
  }
}
.result-display .outputted-result-display .results-card {
  padding: 1.25rem 1rem;
  border-top: 4px solid hsl(61, 70%, 52%);
  border-radius: 0.325rem;
  background-color: hsl(202, 55%, 12%);
}
@media (min-width: 48rem) {
  .result-display .outputted-result-display .results-card {
    padding: 2rem;
  }
}
.result-display .outputted-result-display .results-card .result-label {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(203, 41%, 72%);
  margin-bottom: 0.3125rem;
}
@media (min-width: 48rem) {
  .result-display .outputted-result-display .results-card .result-label {
    margin-bottom: 0.5rem;
  }
}
.result-display .outputted-result-display .results-card .result-amount {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(61, 70%, 52%);
  padding-bottom: 0.625rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(200, 24%, 40%);
}
@media (min-width: 48rem) {
  .result-display .outputted-result-display .results-card .result-amount {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}
.result-display .outputted-result-display .results-card .total-amount {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.empty-result-display.hidden, .outputted-result-display.hidden {
  display: none;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1.5625rem;
}
.input-group label {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(200, 24%, 40%);
  margin-bottom: 0.8125rem;
}
.input-group input {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  cursor: pointer;
  border: none;
}
.input-group input:focus-visible {
  outline-color: transparent;
}
.input-group .input-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0.8125rem;
  border-radius: 0.25rem;
  border: 1px solid hsl(200, 24%, 40%);
  transition: all 0.2s ease;
}
.input-group .input-container span {
  flex-shrink: 0;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(200, 24%, 40%);
  background-color: hsl(202, 86%, 94%);
}
.input-group .input-container:focus-within {
  border-color: hsl(61, 70%, 52%);
}
.input-group .input-container:focus-within span {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
}
.input-group .mortgage-term, .input-group .interest-rate {
  flex-direction: row-reverse;
}

.mortgage-type {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .mortgage-type {
    margin-bottom: 2.5rem;
  }
}
.mortgage-type legend {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(200, 24%, 40%);
  margin-bottom: 0.8125rem;
}
.mortgage-type .radio-option {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  padding: 0.8125rem 1.125rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid hsl(200, 24%, 40%);
  transition: all 0.3s ease;
}
.mortgage-type .radio-option:hover {
  border-color: hsl(61, 70%, 52%);
}
.mortgage-type .radio-option:has(input:checked) {
  border-color: hsl(61, 70%, 52%);
  background-color: hsl(61, 70%, 92%);
}
.mortgage-type .radio-option input {
  appearance: none;
  -webkit-appearance: none;
  display: grid;
  place-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid hsl(200, 24%, 40%);
}
.mortgage-type .radio-option input:hover {
  cursor: pointer;
}
.mortgage-type .radio-option input:checked {
  border: 2px solid hsl(61, 70%, 52%);
}
.mortgage-type .radio-option input::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
  background-color: hsl(61, 70%, 52%);
}
.mortgage-type .radio-option input:checked::before {
  transform: scale(1);
}
.mortgage-type .radio-option span {
  font-size: 1.125rem;
  font-weight: 600;
  color: hsl(202, 55%, 16%);
}

@media (min-width: 48rem) {
  .mortgage-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "amount amount" "term rate";
    column-gap: 1.375rem;
  }
  .amount {
    grid-area: amount;
  }
  .term {
    grid-area: term;
  }
  .rate {
    grid-area: rate;
  }
}
.clear-all-btn {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(200, 24%, 40%);
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: color 0.2s ease;
}
.clear-all-btn:hover {
  color: hsl(202, 55%, 16%);
}

.calculate-btn {
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  background-color: hsl(61, 70%, 52%);
  transition: background-color 0.2s ease;
}
.calculate-btn:hover {
  background-color: hsl(61, 70%, 75%);
}

.error-message {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(4, 69%, 50%);
}

.mortgage-type .error-message {
  margin-top: 0.1875rem;
}

.error-message.hidden {
  display: none;
}

.input-container.error {
  border: 1px solid hsl(4, 69%, 50%);
}

.input-container.error span {
  color: hsl(0, 0%, 100%);
  background-color: hsl(4, 69%, 50%);
}

/*# sourceMappingURL=main.css.map */
